<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377798796026-pktv09t4q7vesu81gq0ji1834auc8nhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377798796026-pktv09t4q7vesu81gq0ji1834auc8nhp</string>
	<key>API_KEY</key>
	<string>AIzaSyCC1kMwL2sHhwtNw4QF8O-LKuJ8zRVmKlE</string>
	<key>GCM_SENDER_ID</key>
	<string>377798796026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.scbtechx.balloonShop</string>
	<key>PROJECT_ID</key>
	<string>balloon-shop-f3a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>balloon-shop-f3a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377798796026:ios:d0650e048619591a001f43</string>
</dict>
</plist>